body {
    font-family: 'Marcellus', serif;
    color: #333;
    padding: 0px;
    margin: 0px;
}

#wrapper {
    padding: 1em;
    margin: 0 auto;
}

#wrapper svg {
    max-width: 100%;
}

header {
    position: relative;
    border-bottom: 1px dotted #333;
}

header img {
    height: 50px;
}

header input {
    display: none;
}

header ul {
    list-style-type: none;
    margin-bottom: 5px;
}

header ul li {
    padding-right: 1em;
    font-weight: bold;
}

header ul li a,
header ul li a:active,
header ul li a:visited,
header ul li a:hover {
    color: #565;
    text-decoration: none;
}

footer {
    font-size: small;
    text-align: right;
    border-top: 1px dotted #333;
    padding: 0.5em 0.5em 1em 0px;
    margin: 0px;
}

.post-list-item {
    margin-bottom: 1em;
}

.post-list-item h3,
.post-view .post-header {
    border-bottom: 1px dotted #666;
}

.post-list-item h3 small {
    font-size: small;
    color: #666;
}

.post-list-item .post-excerpt {
    margin: 0 1em;
}

.post-view pre {
    white-space: pre-wrap;
    border-top: 1px dotted #666;
    border-bottom: 1px dotted #666;
    padding: 0.5em;
}

.project-list {
    list-style-type: none;
}

a {
    color: #696;
}

a:visited,
a:active,
a:hover {
    color: #669;
}

dd ul {
    margin: 0 auto;
}

.clearfix:after,
.clearfix.before:before {
   content: " ";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

@media (min-width: 500px) {
    header ul li {
        display: inline-block;
    }
}

@media (min-width: 992px) {
    #wrapper {
        width: 960px;
    }

    header img {
        height: 24px;
    }

    header ul li {
        font-size: 14pt;
    }

    .project-list li {
        display: inline-block;
        width: 45%;
        height: 10em;
        overflow: scroll;
        padding: 0.5em;
        margin: 0.5em;
        -webkit-box-shadow: -2px 2px 2px 1px rgba(238,238,238,1);
        -moz-box-shadow: -2px 2px 2px 1px rgba(238,238,238,1);
        box-shadow: -2px 2px 2px 1px rgba(238,238,238,1);
    }

    .project-details {
        padding-left: 1em;
        margin: 0 0 0.5em 0.5em;
        width: 35%;
        float: right;
        -webkit-box-shadow: -2px 2px 2px 0px rgba(238,238,238,1);
        -moz-box-shadow: -2px 2px 2px 0px rgba(238,238,238,1);
        box-shadow: -2px 2px 2px 0px rgba(238,238,238,1);
    }

    .project-details h2 {
        margin-top: 0;
    }

    .post-list {
        width: 80%;
        margin: 0 auto;
    }

    .post-list-item .post-excerpt {
        margin: 0 1em;
    }

    .post-view {
        width: 80%;
        margin: 0 auto;
    }

    .post-view .post-header h2 {
        margin-bottom: 0px;
    }

    .post-view pre {
        -webkit-box-shadow: -2px 0 2px 1px rgba(238,238,238,1);
        -moz-box-shadow: -2px 0 2px 1px rgba(238,238,238,1);
        box-shadow: -2px 0 2px 1px rgba(238,238,238,1);
        margin: 0.5em;
        white-space: pre;
        border: none;
    }
}
