body {
    font-family: 'Marcellus', serif;
}

#wrapper {
    width: 960px;
    padding: 1em;
    margin: 0 auto;
}

header, footer {
    width: 100%;
}

header {
    border-bottom: 1px dotted #aaa;
}

footer {
    border-top: 1px dotted #aaa;
    text-align: right;
}
