<html>
    <head>
        <title>OpenFurry - A community of open source furry apps and devs</title>
        <link href="http://fonts.googleapis.com/css?family=Marcellus" rel="stylesheet" type="text/css" />
        <link href="/base.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <a href="https://github.com/makyo/openfurry-site"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"></a>
        <div id="wrapper">
            <header>
                <h1>{{page.title}}</h1>
            </header>
            <article>
                {{content}}
            </article>
            <footer>
                OpenFurry - A community of open source furry apps and devs
            </footer>
        </div>
    </body>
</html>
